@import "../../vars.scss";
@import url("https://use.typekit.net/drz2vvu.css");

.text-editor {
  color: var(--base--white);
  text-align: center;

  .text-editor--logo {
    height: 100px;
    margin-top: var(--spacer--lg);
  }
  .text-editor--header {
    margin: var(--spacer--sm) auto;
  }
  .text-editor--viewport {
    background: var(--base--black);
    max-width: 700px;
    margin: auto;
    min-height: 500px;
    padding: var(--spacer--sm);
    text-align: left;
  }
}
